<template>
	<div class="form-group" :class="{'has-error': fields.failed(name), 'has-success': fields.passed(name)}">
		<label class="col-sm-3 control-label">@{{ label }}  <span class="pull-right red" v-show="mandatory"> *</span></label>
		<div class="col-sm-5">
			<input v-if="type === 'text'" type="text" :id="id" :name="name" class="form-control" v-model="innerValue">
			<input v-else-if="type === 'numeric'" :id="id" type="number" :name="name" class="form-control">
			<div v-else-if="type === 'date'" :id="id" class="input-group date">
				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				<input type="text" :name="name" class="form-control pull-right datepicker">
			</div>
			<textarea v-else-if="type === 'richText'" :id="id" :name="name" rows="3" class="form-control"></textarea>
			<select v-else-if="type === 'singleSelect' || type === 'multiSelect'" :name="name" class="form-control" :id="id" v-validate="{ rules: { required: mandatory } }" :data-vv-as="label" style="width:100%">
			  <option value="">Please Select</option>
			  <option v-for="option in options" :value="option.name">@{{ option.name }}</option>
			</select>
			<span class="help-block" v-show="errors.has(name)">@{{ errors.first(name) }}</span>
		</div>
	</div>
</template>

<script>
export default {
    props: ['label','type','name','options','mandatory','id'],
    data: () => ({
        innerValue: null
    }),
    watch: {
        innerValue(value) {
            this.$emit('input', value);
        }
    },
	mounted() {
		console.log('Imported');
		var vm = this;
	    $("select[name='attribute[brand]']").select2({
	    	placeholder: 'Enter a Brand Name',
            ajax: {
                dataType: 'json',
                url: '/app/products/brands',
                delay: 500,
                data: function(params) {
                    return {
                        query: params.term
                    }
                },
                processResults: function (data, page) {
                  return {
                    results: data
                  };
                },
                cache: true
            },
            // minimumInputLength: 1,
            width: 'resolve'
	    });
	    $("select[name!='attribute[brand]']").select2({
	    	placeholder: "Please Select",
	    	allowClear: true,
	    	width: 'resolve'
	    });
	},
};
</script>