.categoryContainer {
	width: 100%;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	height: 302px;
  overflow-x:auto;
  overflow-y:hidden;
  white-space:nowrap;
}
.categoryContainer [class*="col-lg"],
.categoryContainer [class*="col-md"],
.categoryContainer [class*="col-sm"] {
    float:none;
    display:inline-block;
}
.selectCategories {
	height: 300px;
	overflow: auto;
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}
li {
	cursor: pointer;
}
.child {
	display: none
}
.nav-stacked>li.active>a,
.nav-stacked>li.active>a:hover {
	background-color: #f7f7f7;
	border-left-color: transparent;
}
.nav-stacked>li.selected>a,
.nav-stacked>li.selected>a:hover {
	background-color: #f7f7f7;
	border-left-color: #3c8dbc;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.prevBtn {
  margin-right: 10px;
}

.btn-warning {
	color: #fff
}

.variation {
	border: 1px solid #ddd;
	height: 250px;
  overflow-x:auto;
  overflow-y:auto;
	margin-left: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
