.red {
    color: #dd4b39;
}
.main-header .logo {
    height: 70px;
}
.navbar-form {
    margin-top: 10px;
}
.list {
	height: 350px;
	overflow: auto;
}
table.dashboard-list {
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	background-color: #f9fafc;
	margin-bottom: 10px;
}
th, td {
	padding-left: 5px;
	padding-right: 5px;
}
tr.fisrtend th, tr.fisrtend td{
	padding-top: 5px;
	padding-bottom: 5px;
}